// Paleta de cores
$verde: #41F065;
$verde-escuro: #1E702F;
$azul: #59E2F0;
$amarelo: #F0DF35;
$vermelho: #F01D39;
$laranja: #F09554;

/* Layout da Página */
body {
  background-color: #363636;
  color:whitesmoke;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

p, li {
  font-size: 20px;
}

h3 {
  font-size: 30px;
}

img {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rascunhos {
  width: 100%;
}

#hora {
  text-align: center;
}

a {
  color: white;
  font-size: 20px;
}

a:hover {
  color: gray;
}

a:active {
  color: white;
}


/* Botões de Navegação*/
.botoes-paginas  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes-paginas {
  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4245F0;
    padding: 10px 20px;
    margin: 0.5em;
  }

  a:hover {
    background-color: #37A0F8;
  }

  a:active {
    background-color: #5B30D9;
    text-decoration: underline;
  }
}


/* SVG */
svg {
  background-color: white;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  display: block;
}


.bike{
  transform: rotateX(180deg);
}


 

.bike{
  line, path, circle {
    stroke-width: 4px;
    stroke: #262626;
  }

  circle, path {
    fill: none;
  }
}

#ceu {
  fill: $azul;
}

#grama {
  fill: $verde;
}

#estrada {
  fill: lightgray;
}

#sol {
  stroke: $laranja;
  stroke-width: 2;
  fill: $amarelo;
}

#flor {
  line {
    stroke: $verde-escuro;
  }

  circle {
    stroke-width: 0;
    fill: $laranja;
  }

  #petalas circle {
    fill: $amarelo;
  }
}

#metal_bicicleta {
  line, path {
    stroke: $vermelho;
  }
}


